{% extends 'base.html' %}

{% block title %} Create {% endblock %}

{% block body %}

    <form method="POST">
        <h1>Novo Usuário</h1>
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'list' %}" class="btn btn-primary" >Voltar</a>
    </form>

{% endblock %}
