{% extends 'base.html' %}

{% block title %} Delete {% endblock %}

{% block body %}

<h1>Realmente deseja deletar {{pessoa.nome}}</h1>
    <form method="post">
    {% csrf_token %}
    <button class="btn btn-danger">Sim</button>
    <a href="{% url 'list' %}" class="btn btn-success">Não</a>
    </form>

{% endblock %}