{% extends 'base.html' %}

{% block title %}List{% endblock %}
{% block body %}
<table class="table">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Idade</th>
            <td><a href="{% url 'create' %}" class="btn btn-success">Novo Usuário</a></td>
        </tr>
    </thead>
    <tbody>
    {% for pessoa in pessoa %}
    <tr>
        <td>{{pessoa.id}}</td>
        <td><a href="{% url 'update' pessoa.id %}">{{pessoa.nome}}</a></td>
        <td>{{pessoa.sobrenome}}</td>
        <td>{{pessoa.idade}}</td>
        <td><a href="{% url 'delete' pessoa.id %}" class="btn btn-danger">Excluir</a></td>
    </tr>
    {% endfor%}
    </tbody>
</table>
{% endblock %}