{% extends 'base.html' %}

{% block title %} Update {% endblock %}

{% block body %}

<form method="POST">
        <h1>Atualizar Dados</h1>
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-success">Salvar</button>
        <a href="{% url 'list' %}" class="btn btn-secondary">Voltar</a>
    </form>

{% endblock %}
